<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <main>
      <div class="layout_container">
        <div class="header">
          <span>Header</span>
        </div>
        <div class="nav">
          <span>Nav</span>
        </div>
        <div class="main_container">
          <div class="article">
            <div class="top_container">
              <span>Article</span>
              <div class="article_header">
                <span>Header</span>
              </div>
            </div>
            <div class="bottom_container">
              <div class="article_section">
                <span>Section</span>
              </div>
              <div class="article_section">
                <span>Section</span>
              </div>
              <div class="article_footer">
                <span>Footer</span>
              </div>
            </div>
          </div>
          <div class="aside_container">
            <span>Div</span>
            <div class="aside">
              <span>Aside</span>
            </div>
            <div class="aside">
              <span>Aside</span>
            </div>
          </div>
        </div>
        <div class="footer">
          <span>Footer</span>
        </div>
      </div>
    </main>
  </body>
</html>
