* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}
body {
  font-family: "Poppins", sans-serif;
  /* weight: 300 - 500 - 700 */
  user-select: none;
}

a:link {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

a:active {
  text-decoration: none;
  color: inherit;
}
